<!DOCTYPE html>
<html lang="ko">

<head>
        <meta charset="UTF-8">
        <title>Netflix Recommendation - Doyun</title>
	<style>
  @import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
  body{
    font: 17px 'Nanum Gothic', sans-serif;
  }

	 table, th, td {
		 border:1px solid #ccc;
		 border-collapse: collapse;
	}
	th, td { padding:10px 20px; }

	ul{
		background-color: #ff3300;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

  li {
    float: left;
    border-right: 1px solid #ccc;
  }

  li:last-child{
    border-right: none;
  }
  
	li { float: left; }
	li a {
		display: block;
		background-color: #ff3300;
		color: #000000;
		padding: 14px 16px;
		text-decoration: none;
		text-align: center;
		font-weight: bold;
	}

	li a.current{
		background-color: #333CCC;
		color: white;
	}

	li a:hover:not(.current) {
		background-color: #ff3434b4;
		color: white;
	}

	img { display : block;
              margin : auto;}

	</style>

</head>
<body style="background-color:#F3F2F0">
        <div class='page-header'>
                <div class='Menu-bar'>
                        <ul class='menu-bar'>
                                <li><a href="">Netflix Market</a></li>
                                <li><a href="{{url_for('web_help')}}">Help</a></li>
                                <li><a href="{{url_for('web_login')}}">Login</a></li>
                        </ul>
                </div>
                <hr/>
        </div>
        <div class='content container'>
                {% block content %}
                <form method="post" enctype="multipart/form-data" action="/handle-login">
                        ID :
                        <input type="text" id="user_id" name="user_id"/>
                        Password :
                        <input type="password" id="passwd" name="passwd"/>
                        <input type="submit" value="Login" id="login_button" name="login_button"/>
                </form>
                {% endblock %}
        </div>
	<br>
	<br>

	<div id="container">
      		<a href="https://www.netflix.com/browse">
			<img src="{{url_for('static', filename='netflix.png')}}" alt ="" width="50%", align="center">
        	</a>
          <h2 align="center">2021년 5월 순위
            <table style="margin-left: auto; margin-right: auto;">
               <caption>월간 랭킹</caption>
               <colgroup>
                  <col style="background-color: rgb(194, 194, 191);">
                  <col>
                  <col span="2" style="width:15-px;">
               </colgroup>
               <thead>
                  <tr>
                     <th>순위</th>
                     <th>제목</th>
                     <th>배우</th>
                     <th>감독</th>
                    </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>1위</td>
                     <td>
           <a href="https://www.netflix.com/search?q=%EB%9D%BC%EA%B7%B8%EB%82%98%EB%A1%9C%ED%81%AC&jbv=80232926">
             <img src="{{url_for('static', filename='ragnarok.png')}}" alt ="" width="100%">
           </a>
         </td>
                     <td>다비드 스탁스톤 등</td>
                     <td>아담 프라이스</td>
        </tr>
                  <tr>
                     <td>2위</td>
                     <td>
           <a href="https://www.netflix.com/search?q=%EC%95%84%EB%AF%B8%EC%98%A4%EB%B8%8C%EB%8D%94%EB%8D%B0%EB%93%9C&jbv=81046394">
                 <img src="{{url_for('static', filename='army.png')}}" alt ="" width="100%">
           </a>
         </td>
                     <td>데이브 바티스타 등</td>
                    <td>잭 스나이더</td>
                  </tr>
                  <tr>
                     <td>3위</td>
                     <td>
           <a href="https://www.netflix.com/search?q=%EB%9F%AC%EB%B8%8C%EB%8D%B0%EC%8A%A4%EB%A1%9C%EB%B4%87&jbv=80174608">
             <img src="{{url_for('static', filename='death.png')}}" alt ="" width="100%">
           </a>
         </td>
                     <td>애니메이션</td>
                     <td>팀 밀러</td>
                  </tr>
                  <tr>
                     <td>4위</td>
                     <td>
           <a href="https://www.netflix.com/search?q=%EC%A2%85%EC%9D%B4%EC%9D%98%EC%A7%91&jbv=80192098">
             <img src="{{url_for('static', filename='money.png')}}" alt ="" width="100%">
           </a>
         </td>
                     <td>우르술라 코르베로 등</td>
                     <td>알렉스 피나</td>
                  </tr>
                  <tr>
                     <td>5위</td>
                     <td>
           <a href="https://www.netflix.com/search?q=%EC%A3%BC%ED%94%BC%ED%84%B0%EC%8A%A4%EB%A0%88%EA%B1%B0%EC%8B%9C&jbv=80244953">
             <img src="{{url_for('static', filename='legacy.png')}}" alt ="" width="100%">
           </a>
         </td>
                     <td>조시 더멜 등</td>
                     <td>스티븐 S. 디나이트</td>
                 </tr>
               </tbody>
            </table>
           </h2>
	   <br>
	   <hr width = "60%" color = "black" size = "2">
      		<h2 align="center">넷플릭스 국가별 순위</h2>
		<h3 align="center">한국 순위
        	 <table style="margin-left: auto; margin-right: auto;">
          	  <caption>Youtube 역대 조회수 랭킹 (Netflix Korea)</caption>
          	  <colgroup>
            	   <col style="background-color: rgb(194, 194, 191);">
            	   <col>
            	   <col span="2" style="width:15-px;">
          	  </colgroup>
          	  <thead>
            	   <tr>
              	    <th>순위</th>
              	    <th>제목</th>
              	    <th>배우</th>
              	    <th>감독</th>
                   </tr>
          	  </thead>
          	  <tbody>
            	   <tr>
              	    <td>1위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%ED%82%B9%EB%8D%A4&jbv=80180171">
				    <img src="{{url_for('static', filename='kingdom.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>주지훈, 배두나 등</td>
              	    <td>김성훈</td>
		   </tr>
            	   <tr>
              	    <td>2위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%8A%A4%EC%9C%84%ED%8A%B8%ED%99%88&jbv=81061734">
			    	    <img src="{{url_for('static', filename='sweethome.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>송강, 이진욱 등</td>
             	    <td>이응복</td>
            	   </tr>
            	   <tr>
              	    <td>3위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%8A%A4%EC%9C%84%ED%8A%B8%ED%99%88&jbv=80209129">
				    <img src="{{url_for('static', filename='aneunyoung.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>정유미, 남주혁 등</td>
              	    <td>이경미</td>
            	   </tr>
            	   <tr>
              	    <td>4위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%9D%B5%EC%8A%A4%ED%8A%B8%EB%9E%99%EC%85%98&jbv=80230399">
				    <img src="{{url_for('static', filename='instraction.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>크리스 헴스워스 등</td>
              	    <td>샘 하그레이브</td>
            	   </tr>
            	   <tr>
              	    <td>5위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%ED%8E%98%EB%A5%B4%EC%86%8C%EB%82%98&jbv=81044884">
				    <img src="{{url_for('static', filename='persona.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>아이유, 배두나 등</td>
              	    <td>이경미, 임필성</td>
           	   </tr>
          	  </tbody>
        	 </table>
      		</h3>
		<br>
		<hr width = "60%" color = "black" size = "2">
      		<h3 align="center">미국 순위
        	 <table style="margin-left: auto; margin-right: auto;">
          	  <caption>Youtube 역대 조회수 랭킹 (Netflix USA)</caption>
          	  <colgroup>
            	   <col style="background-color: rgb(194, 194, 191);">
            	   <col>
            	   <col span="2" style="width:15-px;">
          	  </colgroup>
          	  <thead>
            	   <tr>
              	    <th>순위</th>
              	    <th>제목</th>
              	    <th>배우</th>
              	    <th>감독</th>
            	   </tr>
          	  </thead>
          	  <tbody>
            	   <tr>
              	    <td>1위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%9A%B0%EB%A6%AC%EC%9D%98%EC%A7%80%EA%B5%AC&jbv=80049832">
                                    <img src="{{url_for('static', filename='ourearth.png')}}" alt ="" width="100%">
                            </a>
		    </td>
              	    <td>데이비드 애튼버러 등</td>
              	    <td>스티븐 프라이스</td>
            	   </tr>
            	   <tr>
              	    <td>2위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EA%B8%B0%EB%AC%98%ED%95%9C%20%EC%9D%B4%EC%95%BC%EA%B8%B0&jbv=80057281">
                                    <img src="{{url_for('static', filename='stranger.png')}}" alt ="" width="100%">
                            </a>
		    </td>
              	    <td>위노나 라이더 등</td>
             	    <td>더퍼 형제</td>
            	   </tr>
            	   <tr>
              	    <td>3위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%ED%82%A4%EC%8B%B1%20%EB%B6%80%EC%8A%A4&jbv=80143556">
                                    <img src="{{url_for('static', filename='kiss.png')}}" alt ="" width="100%">
                            </a>
		    </td>
              	    <td>조이 킹 등</td>
              	    <td>빈스 마르셀로</td>
            	   </tr>
            	   <tr>
              	    <td>4위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%8B%A0%EC%84%B1%ED%95%9C%20%EA%B2%8C%EC%9E%84&jbv=80115328">
                                    <img src="{{url_for('static', filename='game.png')}}" alt ="" width="100%">
                            </a>
		    </td>
              	    <td>나와주딘 시디퀴 등</td>
              	    <td>아누락 카시압</td>
            	   </tr>
            	   <tr>
              	    <td>5위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%9C%84%EC%B3%90&jbv=80189685">
                                    <img src="{{url_for('static', filename='witcher.png')}}" alt ="" width="100%">
                            </a>
		    </td>
              	    <td>헨리 카빌 등</td>
              	    <td>로런 슈밋 히스릭</td>
           	   </tr>
          	  </tbody>
        	 </table> 
      		</h3>
		<br>
		<hr width = "60%" color = "black" size = "2">
		<h3 align="center">영국 순위
                  <table style="margin-left: auto; margin-right: auto;">
                   <caption>Youtube 역대 조회수 랭킹 (Netflix UK)</caption>
                   <colgroup>
                    <col style="background-color: rgb(194, 194, 191);">
                    <col>
                    <col span="2" style="width:15-px;">
                   </colgroup>
                   <thead>
                    <tr>
                     <th>순위</th>
                     <th>제목</th>
                     <th>배우</th>
                     <th>감독</th>
                    </tr>
                   </thead>
                   <tbody>
                   <tr>
                     <td>1위</td>
                     <td>
			     <a href="https://www.netflix.com/search?q=%EA%B8%B0%EB%AC%98%ED%95%9C%20%EC%9D%B4%EC%95%BC%EA%B8%B0&jbv=80057281">
                                    <img src="{{url_for('static', filename='stranger.png')}}" alt ="" width="100%">
                            </a>
		     </td>
                     <td>위노나 라이더 등</td>
                     <td>더퍼 형제</td>
                    </tr>
                    <tr>
                     <td>2위</td>
                     <td>
			     <a href="https://www.netflix.com/search?q=%EC%98%A4%ED%8B%B0%EC%8A%A4%EC%9D%98%20%EB%B9%84%EB%B0%80%20%EC%83%81%EB%8B%B4%EC%86%8C&jbv=80197526">
                                    <img src="{{url_for('static', filename='otis.png')}}" alt ="" width="100%">
                            </a>
		     </td>
                     <td>에이사 버터필드 등</td>
                     <td>로리 넌</td>
                    </tr>
                    <tr>
                     <td>3위</td>
                     <td>
			     <a href="https://www.netflix.com/search?q=%EB%B9%85%EB%A7%88%EC%9A%B0%EC%8A%A4&jbv=80117038">
                                    <img src="{{url_for('static', filename='bigmouth.png')}}" alt ="" width="100%">
                            </a>
		     </td>
                     <td>닉 크롤 등</td>
                     <td>안드류 골드버그</td>
                    </tr>
                    <tr>
                     <td>4위</td>
                     <td>
			     <a href="https://www.netflix.com/search?q=%EB%A6%AC%EB%B2%84%EB%8D%B0%EC%9D%BC&jbv=80133311">
                                    <img src="{{url_for('static', filename='riverdale.png')}}" alt ="" width="100%">
                            </a>
		     </td>
                     <td>콜 스프로즈</td>
                     <td>로베르토 아기레사카사</td>
                    </tr>
                    <tr>
                     <td>5위</td>
                     <td>
			     <a href="https://www.netflix.com/search?q=%EC%9C%A0%EB%A1%9C%EB%B9%84%EC%A0%84&jbv=80244088">
                                    <img src="{{url_for('static', filename='vision.png')}}" alt ="" width="100%">
                            </a>
		     </td>
                     <td>레이첼 맥아담스 등</td>
                     <td>데이빗 돕킨</td>
                    </tr>
                   </tbody>
                  </table>
                 </h3>
	</div>
</body>
</html>




