{% extends 'index.html' %}
{% block content %} 

<body style="background-color:#F3F2F0">


	<div id="container">
      		<a href="https://www.netflix.com/browse">
			<img src="{{url_for('static', filename='netflix.png')}}" alt ="" width="50%", align="center">
        	</a>

		<h3 align="center">한국 순위
        	 <table style="margin-left: auto; margin-right: auto;">
          	  <caption>Youtube 역대 조회수 랭킹 (Netflix Korea)</caption>
          	  <colgroup>
            	   <col style="background-color: rgb(194, 194, 191);">
            	   <col>
            	   <col span="2" style="width:15-px;">
          	  </colgroup>
          	  <thead>
            	   <tr>
              	    <th>순위</th>
              	    <th>제목</th>
              	    <th>배우</th>
              	    <th>감독</th>
                   </tr>
          	  </thead>
          	  <tbody>
            	   <tr>
              	    <td>1위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%ED%82%B9%EB%8D%A4&jbv=80180171">
				    <img src="{{url_for('static', filename='kingdom.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>주지훈, 배두나 등</td>
              	    <td>김성훈</td>
		   </tr>
            	   <tr>
              	    <td>2위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%8A%A4%EC%9C%84%ED%8A%B8%ED%99%88&jbv=81061734">
			    	    <img src="{{url_for('static', filename='sweethome.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>송강, 이진욱 등</td>
             	    <td>이응복</td>
            	   </tr>
            	   <tr>
              	    <td>3위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%8A%A4%EC%9C%84%ED%8A%B8%ED%99%88&jbv=80209129">
				    <img src="{{url_for('static', filename='aneunyoung.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>정유미, 남주혁 등</td>
              	    <td>이경미</td>
            	   </tr>
            	   <tr>
              	    <td>4위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%EC%9D%B5%EC%8A%A4%ED%8A%B8%EB%9E%99%EC%85%98&jbv=80230399">
				    <img src="{{url_for('static', filename='instraction.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>크리스 헴스워스 등</td>
              	    <td>샘 하그레이브</td>
            	   </tr>
            	   <tr>
              	    <td>5위</td>
              	    <td>
			    <a href="https://www.netflix.com/search?q=%ED%8E%98%EB%A5%B4%EC%86%8C%EB%82%98&jbv=81044884">
				    <img src="{{url_for('static', filename='persona.png')}}" alt ="" width="100%">
			    </a>
		    </td>
              	    <td>아이유, 배두나 등</td>
              	    <td>이경미, 임필성</td>
           	   </tr>
          	  </tbody>
        	 </table>
      		</h3>

	</div>
</body>



{% endblock %}
