<!DOCTYPE html>
<html lang="ko">
<head>
        <meta charset="UTF-8">
        <title>Netflix Recommenation - Doyun</title>
	<style>
  @import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
  body{
    font: 17px 'Nanum Gothic', sans-serif;
  }

         table, th, td {
                 border:1px solid #ccc;
                 border-collapse: collapse;
        }
        th, td { padding:10px 20px; }

        ul{
                background-color: #ff3300;
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
        }
	</style>
</head>
<body style="background-color:#F3F2F0">
        <div id="service_title"></div>
	<div id="service_content">
		<h3> test test </h3>
        </div>
</body>
     
<script src="{{url_for('static', filename='jquery-1.12.4.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery-ui.js')}}"></script>
<script type="text/javascript">
var sess_info = '{{ session_info|safe }}';
console.log(sess_info);
var sess_info_json = JSON.parse(sess_info);
var sess_id = sess_info_json['session_id'];
console.log(sess_id);
var service_type = sess_info_json['service_type'];
var contents_title = "";

function service1(service1_info_json)
{
        console.log("service1");
        console.log(JSON.stringify(service1_info_json));

        $("#service_title").html("<h2>관심 콘텐츠 목록</h2>");

        if (service1_info_json['result'] == true)
        {
                let contents = Object.keys(service1_info_json['msg']);
                console.log(contents);

                var table_html = '<table border="2">' +
                        '<th>관심 콘텐츠</th>' +
                        '<th>배우</th>' +
                        '<th>감독</th>';
                for(var i=0; i < contents.length; ++i) {
                        var cname = contents[i];
                        var actor = service1_info_json['msg'][cname]['actor'];
                        var director = service1_info_json['msg'][cname]['director'];
                        
                       
                        table_html += '<tr>';
                        table_html += '<td>' + cname + '</td>';
                        table_html += '<td>' + actor + '</td>';
                        table_html += '<td>' + director + '</td>';
                        table_html += '</tr>';
                }
                table_html += '</table>';
                $("#service_content").html(table_html);
        }
        else
        {
                $("#service_content").html("No content");
        }
}



function refresh(event)
{
        if (service_type == "service1") {
                $.ajax({
                url: "http://54.180.151.149:11100/services",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                        "session_id": sess_id,
                        "request_type": "service1"
                }),
                dataType: "json",
                success: service1
                });
        } else {
                $.ajax({
                url: "http://54.180.151.149:11100/services",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                        "session_id": sess_id,
                        "request_type": "service2",
                        "company_name": company_name
                }),
                dataType: "json",
                success: service2
                });
        }
}




$(window).on("load", refresh(event));

</script>
</html>

