[general]

name = da_design_nf

[db]

ip = 127.0.0.1
port = 27017
name = da_design_nf

col_user = User
col_favorites = Favorite
col_contents = Contents
col_top_contents = Top_Contents
col_month_ranking = month_ranking
col_top_actor_director = Top_Actor_Director

[logger]

log_directory = %(DA_DESIGN_SERVER)s/log

