[general]

name = da_design

[db]

ip = 127.0.0.1
port = 27017
name = db_design_server

col_user = User
col_favorites = Favorites
col_contents = Contents
col_KR_contents = KRcontents_top15
col_USA_contents = USAcontents_top15
col_UK_contents = UKcontents_top15
col_realtime_ranking = real_time_ranking
col_popular_actor = Popular_actor
col_popular_director = Popular_director

[logger]

log_directory = %(DA_DESIGN_SERVER)s/log

